body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6fa; /* Morado pastel */
    font-family: 'Pacifico', cursive; /* Tipografía bonita */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #9370db; /* Morado medio */
    font-size: 3em;
    margin-bottom: 20px;
}

.gif-container {
    margin: 20px 0;
}

.gif-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los botones */
}

.button {
    text-decoration: none;
    color: #333; /* Color de texto oscuro */
    background-color: #fffacd; /* Amarillo pastel */
    padding: 20px 40px; /* Tamaño del botón */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 1.5em;
    font-family: 'Pacifico', cursive; /* Tipografía bonita */
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 2px solid #ffd700; /* Borde dorado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.button:hover {
    background-color: #ffd700; /* Amarillo más intenso al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.no-button {
    background-color: #fffacd; /* Amarillo pastel */
    color: #333;
}

.no-button:hover {
    background-color: #ffd700; /* Amarillo más intenso al pasar el mouse */
}
